page-home {

  ion-navbar{
    .toolbar-background {
      background-color: #800020;
    }

    .title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
    }
  }

  ion-slides.slides {
    height: auto;
    width: 100% !important;
  }

  ion-content {
      text-align: center;
  }
  background-color: white;
}
