page-news {
  
  ion-navbar{
    .toolbar-background {
      background-color: #800020;
    }

    .title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
    }
  }
  
  ion-content {
      text-align: center;
  }
  
  ion-slides {
    height: 200px;
  }
  
  button {
    max-height: 100%;
    max-width: 100%;
    margin: 18px 0;
  }
  
  .container {
    position: relative;
  }
  
  .slide-h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
  }
  
  .slide-p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    text-align: left;
  }
  
  img {
    position: relative;
  }
  
  .slide-arrow-right {
    position: absolute;
    right: 5px;
    top: 50%;
    color: white;
    font-size: 30px;
  }
  
  .slide-arrow-left {
    position: absolute;
    left: 5px;
    top: 50%;
    color: white;
    font-size: 30px;
  }
  
  .text-block {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  background-color: white;
}