page-news {
  
  ion-navbar{
    .toolbar-background {
      background-color: #800020;
    }

    .title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
    }
  }
  
  ion-content {
      text-align: center;
  }
  
  ion-slides.slides {
    height: auto;
    width: 100% !important;
  }
  
  .slides-header {
    position: relative;
  }
  
  .article-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
  }
  
  .article-paragraph {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
  }
  
  .slides-text {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  background-color: white;
}