page-article5 {
  
  ion-navbar{
    .toolbar-background {
      background-color: #800020;
    }

    .title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
    }
  }
  
  ion-content {
      text-align: center;
  }
  background-color: white;
  
  h1 {
    text-align: center;
    color: black;
    font-size: 28px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  h3 {
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .article-img {
    width: 100%;
  }
  
  .footer-back {
    margin-left: 20px;
  }
}